# Set

In [ ]:
"""
Title   : Set basic Opration
Author  : Akshay unde
Date    : 14/02/2020
"""

In [3]:
a = {"farari","Bugati","BMW","Tesla"}

In [4]:
type(a)

set

In [5]:
#Access Set item
for item in a:
    print(item)

Tesla
Bugati
farari
BMW

In [6]:
#check BMW is present in set
print("BMW" in a)

True

In [7]:
# Once a set is created, you cannot change its items, but you can add new items.
# set alwase show in asending order

In [8]:
a.add("Plan")

In [9]:
a

{'BMW', 'Bugati', 'Plan', 'Tesla', 'farari'}

In [10]:
#Add multiple items to a set, using the update() method
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'apple', 'cherry', 'grapes', 'banana', 'mango'}

In [11]:
#get lenth of set
print(len(a))

5

In [12]:
#Remove item in set
a.remove("farari")

In [13]:
a

{'BMW', 'Bugati', 'Plan', 'Tesla'}

In [17]:
a.discard("plan")

In [18]:
print(a)

{'Bugati', 'Plan', 'Tesla', 'BMW'}

In [19]:
#remove last item in set
x = a.pop()

In [20]:
a

{'BMW', 'Plan', 'Tesla'}

In [21]:
# The clear() method empties the set
a.clear()

In [22]:
a

set()

In [24]:
##join two set using union key world
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [25]:
#The update() method inserts the items in set2 into set1
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [26]:
#Note: Both union() and update() will exclude any duplicate items.

In [27]:
# Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}